/* inputs */

.ContenedorBotones{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
/* estilo general del form */
.form{
    
    min-width: 320px;
    width: 40%;
    margin-left: auto; /* esto hace que se quede en el medio el form */
    margin-right: auto;
    border-radius: 20px;
    /*Efecto Glass*/
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    }


/* estilos de los inputs  */
.inputs{
    height: 5vh;
    width: 90%;
    padding-left: 20px;
    border-radius: 10px;
    border: none;
    margin-left: auto; /* esto hace que se quede en el medio el form */
    margin-right: auto;
}

#category{
    width: 92%;
    height: 5vh;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    margin-left: auto; /* esto hace que se quede en el medio el form */
    margin-right: auto;
}

/* con esto sacamos el borde del input al seleccionarlo */
.inputs:focus {
    outline: none; 
  }

  label{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    color: rgb(87, 85, 85);
  }
  